// Define variables for your color scheme

// $red: #EE5F5B;
// $blue: #469AE0;
// $yellow: #FDB631;
// $orange: #E67E22;
// $green: #32B796;
// $gray: #000000;
// $light-gray: #F4F4F4;

$blue: #368DF6;
$orange: #FF6900;
$dark-grey: #292F35;
$off-white: #F8FAFB;
$dark-pink: #F6368A;
$light-pink: #FBA0C8;
