<div class="home-body">
  <div class="text-center post-title hidden-xs hidden-sm"> 
    <h1>What’s Kano Pixel kit?</h1>
  </div>
  <div class="post-text">
    <p>With <strong>Kano Pixel Kit</strong> you can make and code dazzling lights. 
    Build your own games, animations, art.</p>
    <p><strong>Start with a story</strong><br>Open the box, pop out the pieces. Buttons, board, battery, and more. Follow the books, all by yourself. Build the Pixel Kit step by step, page by page, just like Lego. Learn as you make. Connect to your computer and download the Kano App.</p>
    <p><strong>Learn to code</strong><br>Step-by-step challenges show you how. Connect blocks, light it up live, see the effects instantly side-by-side. Simple for beginners, expansive for experts.</p>
    <p><strong>Build your own games</strong><br>Start simple. Level up slowly. Create characters, make them run and jump. Spaceships swerve. Balls bounce. Add logic and scoreboards. Remix games by friends.</p>
    <p><strong>Paint with light, make animations</strong><br>Draw your own colorful pictures and pixel art. Make animations frame-by-frame. It's simple and instant! Play with 16 million colors. What will you make?</p>
    <p><strong>Bring sound to life</strong><br>With the inbuilt microphone make lights dance to music, bounce to beats or speak when you speak.</p>
    <p><strong>What’s in the app?</strong><br>Kano Code runs the Pixel Kit. It's based on thousands of hours of real-world testing with artists, educators, and inventors worldwide. It uses simple steps, storytelling, game mechanics, and practical projects to demystify programming</p>
  </div>
</div>

