.navbar {
  height: 80px;
  background: white;
  box-shadow: 0px 0px 1px rgba(153, 153, 153, 0.8);
  border-radius: none;
  border-radius: 0;
  position: fixed;
  z-index: 5;
  width: 100%;
}

.brand {
  height: 50px;
}
